<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianwang365.confkeeper.dao.mapper.AppMapper">

	<resultMap type="AppEntity" id="appMap">
		<id property="id" column="app_id" />
		<result property="appName" column="app_name" />
		<result property="appNote" column="app_note" />
	</resultMap>

	<resultMap type="AppEntity" id="appExMap" extends="appMap">
		<collection property="versions" javaType="list" column="app_id" 
		select="com.qianwang365.confkeeper.dao.mapper.EndPointMapper.getEntitiesByAID" />
	</resultMap>

	<select id="getByEndPointId" resultMap="appMap">
		select a.* from sys_app a
		join sys_app_endpoint ep on a.app_id = ep.app_id
		where ep.ep_id = #{id}
	</select>
	
	<select id="getExEntities" resultMap="appExMap">
		select * from sys_app
		<where>
			<if test="e.appName!=null">
				and app_name=#{e.appName}
			</if>
			<if test="e.appNote!=null">
				and app_note=#{e.appNote}
			</if>
		</where>
	</select>

	<!-- basedao implement methods -->
	<select id="getEntities" resultMap="appMap">
		select * from sys_app
		<where>
			<if test="e.appName!=null">
				and app_name=#{e.appName}
			</if>
			<if test="e.appNote!=null">
				and app_note=#{e.appNote}
			</if>
		</where>
	</select>

	<select id="getEntity" resultMap="appMap">
		select * from sys_app where
		app_id = #{id}
	</select>

	<insert id="add" parameterType="AppEntity">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		insert into sys_app(app_name,
		app_note)
		values(#{appName}, #{appNote})
	</insert>

	<insert id="batchAdd">
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		insert into sys_app(app_name,
		app_note)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.appName},#{item.appNote})
		</foreach>
	</insert>

	<delete id="remove">
		delete from sys_app where app_id=#{id}
	</delete>

	<delete id="batchRemove">
		delete from sys_app where app_id in
		<foreach collection="array" item="item" index="index"
			separator="," open="(" close=")">
			#{item}
		</foreach>
	</delete>

	<update id="update" parameterType="AppEntity">
		update sys_app
		<set>
			<if test="appName!=null">
				app_name=#{appName},
			</if>
			<if test="appNote!=null">
				app_note=#{appNote},
			</if>
		</set>
		<where>
			<if test="id>0">
				app_id=#{id}
			</if>
		</where>
	</update>
</mapper>